.contact-list__content {
    position: relative;
    margin-top: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.contact-list__add-button {
    background: rgb(240, 240, 240);
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
}